[user]
  name = Daemian Mack
  email = daemianmack@gmail.com
[color]
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = blue
[color "diff"]
  commit = blue black bold
  meta = blue black bold
  frag = black black bold
  old = red
  new = green
[color "status"]
  added = green bold
  changed = magenta bold
  untracked = white bold
  branch = blue bold
[push]
  default = tracking
[merge]
  conflictstyle = diff3
[alias]
  l = log --pretty=format:'%Cgreen%h%Creset  %Cred%cr%Creset %Cblue%cn%Creset %s'
  brage = "!sh -c 'for C in $(git for-each-ref --sort=committerdate refs/heads --format=\"%(refname:short)\") ; do git show -s \"$C\" -- ; done'"
  # show a list of every branch and their latest commit, sorted by last commit
  brlog = "!sh -c 'for C in $(git for-each-ref --sort=committerdate refs/heads --format=\"%(refname:short)\") ; do git show -s --pretty=format:\"%Cblue%ci %Cblue%cr%Creset $C\" \"$C\" -- ; git show -s $C ; echo; done'"
  # show  a list of files with bug fixes in them, sorted by frequency
  # aka, list the buggy files
  buggyfiles = !"git log --format=\"format:%n\" --name-only | grep . | sort | uniq -c | sort -n"
  co = checkout
  wat = "!sh -c 'for k in $(git branch -a|perl -pe s/^..//|perl -pe s/^.*\\ .*$//s);do echo $(git show --pretty=format:\"%Cgreen%ci %Cblue%cr%Creset\" $k|head -n 1)\\\t$k;done|sort -r'"
[core]
  excludesfile = ~/.gitignore
[help]
  autocorrect = 1
[diff]
  mnemonicprefix = true
